body {
  padding: 10px;
}
.container {
  margin: 10px 0;
}
.container > div {
  margin: 10px 0;
}
.ui.button {
  width: 100%;
}
.ui.label {
  background: none;
}
#input-rps {
  width: 100px;
}
span.bold {
  color: red;
  font-weight: bold;
}